.text-success {
    color: rgba(96, 122, 62, 1) !important;
}


.form-range:focus::-webkit-slider-thumb {
    box-shadow: 0 0 0 1px #fff, 0 0 0 .25rem rgba(96, 122, 62, .25)
}

.form-range:focus::-moz-range-thumb {
    box-shadow: 0 0 0 1px #fff, 0 0 0 .25rem rgba(96, 122, 62, .25)
}

.form-range::-webkit-slider-thumb:active {
    background-color: #BBBF86
}

.form-range::-webkit-slider-thumb {
    width: 1rem;
    height: 1rem;
    margin-top: -.25rem;
    background-color: rgba(96, 122, 62, 1) !important;
    border: 0;
    border-radius: 1rem;
    -webkit-transition: background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    transition: background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    -webkit-appearance: none;
    appearance: none
}

.form-range::-webkit-slider-thumb {}

/* Thumb: Chrome, Safari, Opera, Edge Chromium */
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    background-color: rgba(96, 122, 62, 1);
    border-radius: 50%;
}

.form-control {
    background-color: #f0f0f0;
}

.form-control:focus {
    box-shadow: 0 0 0 0.25rem rgba(96, 122, 62, 0.25);
}

.form-select {
    background-color: #f0f0f0;
}

.form-select:focus {
    box-shadow: 0 0 0 0.25rem rgba(96, 122, 62, 0.25);
}



/* Thumb: Firefox */
input[type="range"]::-moz-range-thumb {
    border: none;
    background-color: rgba(96, 122, 62, 1);
    border-radius: 50%;
}

.btn:focus {
    box-shadow: 0 0 0 0.25rem rgba(96, 122, 62, 0.5) !important;
}

.btn-outline-success {
    border-color: rgb(96, 122, 62);
    color: rgb(80, 110, 50);
}

.btn-outline-success:hover {
    background-color: rgba(96, 122, 62, 1.0);
    /* --bs-btn-color: hsl(86, 33%, 36%) !important;
    --bs-btn-hover-bg: rgb(96, 122, 62) !important;
    --bs-btn-active-bg: rgb(96, 122, 62) !important; */
}

.btn-outline-success:active {
    background-color: rgba(96, 122, 62, 1);
    /* --bs-btn-color: hsl(86, 33%, 36%) !important;
    --bs-btn-hover-bg: rgb(96, 122, 62) !important;
    --bs-btn-active-bg: rgb(96, 122, 62) !important; */
}

.btn-success {
    background-color: rgb(96, 122, 62);
    border-color: rgb(96, 122, 62);
}

.btn-success:hover {
    background-color: rgba(96, 122, 62, 0.50);
    border-color: rgb(96, 122, 62);
}

.bgn-success:active {
    background-color: rgba(96, 122, 62, 1);
    border-color: rgb(96, 122, 62);
}

.stt {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background: rgb(96, 122, 62) url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 384 512'%3E%3Cpath fill='currentColor' d='M352 352c-8.188 0-16.38-3.125-22.62-9.375L192 205.3l-137.4 137.4c-12.5 12.5-32.75 12.5-45.25 0s-12.5-32.75 0-45.25l160-160c12.5-12.5 32.75-12.5 45.25 0l160 160c12.5 12.5 12.5 32.75 0 45.25C368.4 348.9 360.2 352 352 352z'%3E%3C/path%3E%3C/svg%3E") center no-repeat;
    box-shadow: 0 0.25rem 0.5rem 0 gray;
    opacity: 0.7;
    z-index: 1000 !important;
}

.stt:hover {
    opacity: 0.8;
}

.stt:focus {
    opacity: 0.9;
}

.stt:active {
    opacity: 1;
}

#main {
    min-height: calc(100vh - 132px - 80px);
    margin-top: 132px;
}

#logo {
    height: 60px;
}

@media screen and (max-width: 767px) {
    #main {
        min-height: calc(100vh - 192px);
        margin-top: 192px;
    }

    #logo_div {
        text-align: center;
    }

    #logo {
        height: 50px;
        margin-bottom: 10px;
    }
}


#loading {
    fill: none;
    stroke: hsl(86, 33%, 36%) !important;
    stroke-width: 10;
    stroke-dasharray: 230 230;
    stroke-linecap: round;
    animation: loader 1.4s infinite cubic-bezier(.4, 0, .3, 1), loading 1.2s infinite linear;
}

@keyframes loading {
    from {
        transform: none;
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes loader {
    from {
        stroke-dashoffset: 230;
    }

    to {
        stroke-dashoffset: -230;
    }
}
